HOST_IP=192.168.1.63

# OAuth / 42 School
FT_CLIENT_ID=
FT_CLIENT_SECRET=
OAUTH_REDIRECT_URI=https://${HOST_IP}/auth/oauth/callback
NEXT_PUBLIC_OAUTH_REDIRECT_URI=https://${HOST_IP}/auth/oauth/callback

# URLs
BACKEND_URL=http://backend:8000
FRONTEND_URL=https://${HOST_IP}
NEXT_PUBLIC_API_URL=https://${HOST_IP}
NEXT_PUBLIC_42_CLIENT_ID=$FT_CLIENT_ID

# Database
POSTGRES_DB=transcendence
POSTGRES_USER=trans
POSTGRES_PASSWORD=cendence

# Django
DJANGO_SECRET_KEY=
